@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* 
= SYSTEM =

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

//* === COLORS ===
$color-primary: #1e90ff;

$color-secondary: #eb2b34;

$color-grey-light: whitesmoke;

//****************************/
//* GENERAL */
//****************************/
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (max-width: 31.25em) {
    font-size: 50%;
  }
}

body {
  min-height: 100vh; //? Fallback
  min-height: 100svh;
  background: $color-grey-light;
  font-family: Lato, sans-serif;
  padding: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

//****************************/
//* LAYOUT */
//****************************/
.game-container {
  border-radius: 5px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}

.game-content {
  padding: 4.8rem;
  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  @media screen and (max-width: 31.25em) {
    padding: 3.2rem;
  }
}
